<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário Cenários</title>
    <link rel="stylesheet" href="styles/interface-cenarios.css">
    <link rel="shortcut icon" href="/assets/Logo_cne.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="/scripts/cenarios.js"></script>
    <link rel="stylesheet" href="styles/PopUps/AdicionarCenario.css">
</head>
<body>


    <header class="cabecalho">
        <div class="cabecalho-esquerdo">
            <button class="botao-menu"><i class="fa-solid fa-bars"></i></button>
            <span class="logo"></span>
            <h1 class="titulo"><a th:href="@{/calendario}">Calendário</a></h1>
            <h1 class="titulo" id="tituloCenario">Cenários</h1>
        </div>
        <button class="botao-sair" ><a class="botao-sair" th:href="@{/login}">Sair</a></button>
    </header>

    <main class="conteudo-principal">
    
        <section class="secao-filtros">
            <div class="filtros-esquerdo">
                <div class="grupo-filtro">
    <div class="custom-dropdown" data-valor-selecionado="">
        <div class="custom-dropdown__header">
            <span class="custom-dropdown__selected">Status</span>
            <span class="custom-dropdown__icon"><i class="fa-solid fa-angle-down"></i></span>
        </div>
        <ul class="custom-dropdown__options">
            <li class="custom-dropdown__option" data-valor="ativa">Ativa</li>
            <li class="custom-dropdown__option" data-valor="inativa">Inativa</li>
        </ul>
    </div>
</div>

<div class="grupo-filtro">
    <div class="custom-dropdown" data-valor-selecionado="">
        <div class="custom-dropdown__header">
            <span class="custom-dropdown__selected">Disciplina</span>
            <span class="custom-dropdown__icon"><i class="fa-solid fa-angle-down"></i></span>
        </div>
        <ul class="custom-dropdown__options">
            <li class="custom-dropdown__option" data-valor="engenharia">Engenharia</li>
            <li class="custom-dropdown__option" data-valor="direito">Direito</li>
            <li class="custom-dropdown__option" data-valor="medicina">Medicina</li>
        </ul>
    </div>
</div>
                <button class="botao-filtrar">FILTRAR</button>
            </div>
            <div class="container-pesquisa">
                <input type="text" class="campo-pesquisa" placeholder="Pesquisar" >
                 <button class="botao-pesquisa">
                <i class="fas fa-search"></i>
            </button>

            </div>
        </section>

        <section class="secao-navegacao">
    <div class="navegacao-esquerda">

        <div class="custom-dropdown" data-valor-selecionado="">
            <div class="custom-dropdown__header">
                <span class="custom-dropdown__selected">Mês</span>
                <span class="custom-dropdown__icon"><i class="fa-solid fa-angle-down"></i></span>
            </div>
            <ul class="custom-dropdown__options">
                <li class="custom-dropdown__option" data-valor="1">Janeiro</li>
                <li class="custom-dropdown__option" data-valor="2">Fevereiro</li>
                <li class="custom-dropdown__option" data-valor="3">Março</li>
                <li class="custom-dropdown__option" data-valor="4">Abril</li>
                <li class="custom-dropdown__option" data-valor="5">Maio</li>
                <li class="custom-dropdown__option" data-valor="6">Junho</li>
                <li class="custom-dropdown__option" data-valor="7">Julho</li>
                <li class="custom-dropdown__option" data-valor="8">Agosto</li>
                <li class="custom-dropdown__option" data-valor="9">Setembro</li>
                <li class="custom-dropdown__option" data-valor="10">Outubro</li>
                <li class="custom-dropdown__option" data-valor="11">Novembro</li>
                <li class="custom-dropdown__option" data-valor="12">Dezembro</li>
            </ul>
        </div>

        <span class="texto-navegacao">Até</span>

        <div class="custom-dropdown" data-valor-selecionado="">
            <div class="custom-dropdown__header">
                <span class="custom-dropdown__selected">Mês</span>
                <span class="custom-dropdown__icon"><i class="fa-solid fa-angle-down"></i></span>
            </div>
            <ul class="custom-dropdown__options">
                <li class="custom-dropdown__option" data-valor="1">Janeiro</li>
                <li class="custom-dropdown__option" data-valor="2">Fevereiro</li>
                <li class="custom-dropdown__option" data-valor="3">Março</li>
                <li class="custom-dropdown__option" data-valor="4">Abril</li>
                <li class="custom-dropdown__option" data-valor="5">Maio</li>
                <li class="custom-dropdown__option" data-valor="6">Junho</li>
                <li class="custom-dropdown__option" data-valor="7">Julho</li>
                <li class="custom-dropdown__option" data-valor="8">Agosto</li>
                <li class="custom-dropdown__option" data-valor="9">Setembro</li>
                <li class="custom-dropdown__option" data-valor="10">Outubro</li>
                <li class="custom-dropdown__option" data-valor="11">Novembro</li>
                <li class="custom-dropdown__option" data-valor="12">Dezembro</li>
            </ul>
        </div>

        <div class="custom-dropdown" data-valor-selecionado="">
            <div class="custom-dropdown__header">
                <span class="custom-dropdown__selected">Semestre</span>
                <span class="custom-dropdown__icon"><i class="fa-solid fa-angle-down"></i></span>
            </div>
            <ul class="custom-dropdown__options">
                <li class="custom-dropdown__option" data-valor="1">Todos</li>
                <li class="custom-dropdown__option" data-valor="1">1º Semestre</li>
                <li class="custom-dropdown__option" data-valor="2">2º Semestre</li>
            </ul>
        </div>
        
        <div class="navegacao-ano">
            <button id="btn-anterior" class="seta-navegacao"><i class="fa-solid fa-chevron-left"></i></button>
            <span id="ano-exibido" class="ano">2025</span>
            <button id="btn-proximo" class="seta-navegacao"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
            
    </div>
    <button id="openPopup" class="botao-filtrar">Criar Cenario</button>
    <button class="botao-editar">Habilitar Edição</button>
</section>

        <section class="secao-tabela">
            <div class="container-tabela">
                <table class="tabela-dados">
                    <thead>
                        <tr>
                            <th>Ano/Semestre 
                                <i class="fas fa-arrow-up seta-ordenacao"></i> </th>
                            <th>Unidade 
                                <i class="fas fa-arrow-up seta-ordenacao"></i> </th>
                            <th>Situação TCE 
                                <i class="fas fa-arrow-up seta-ordenacao"></i> </th>
                            <th>Nome Aluno 
                                <i class="fas fa-arrow-up seta-ordenacao"></i> </th>
                            <th>Disciplina / Orientador 
                                <i class="fas fa-arrow-up seta-ordenacao"></i> </th>
                            <th>VLR Total 
                                <i class="fas fa-arrow-up seta-ordenacao"></i> </th>
                            <th>Status 
                                <i class="fas fa-arrow-up seta-ordenacao"></i> </th>
                            <th>Dias da Semana
                                <i class="fas fa-arrow-up seta-ordenacao"></i>
                            </th>
                            <th>Quantidade de Dias
                                <i class="fas fa-arrow-up seta-ordenacao"></i>
                            </th>
                            <th>Quantidade de Horas
                                <i class="fas fa-arrow-up seta-ordenacao"></i>
                            </th>
                        </tr>
                    </thead>
                        <tbody id="tabela-cenarios"></tbody>
                </table>
            </div>
        </section>
        
    </main>

    <script th:src="@{/scripts/main.js}"></script>
    <script th:src="@{/scripts/navegacaoAno.js}"></script>
    <script th:src="@{/scripts/dropdown2.js}"></script>
    <script th:src="@{/scripts/PopUps/AdicionarCenario.js}"></script> 
</body>
</html>
