<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário Cenários</title>
    <link rel="stylesheet" href="styles/interface-cenarios.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="/scripts/cenarios.js"></script>
</head>
<body>


    <header class="cabecalho">
        <div class="cabecalho-esquerdo">
            <button class="botao-menu"><i class="fa-solid fa-bars"></i></button>
            <span class="logo"></span>
            <h1 class="titulo">Calendário</h1>
            <h1 class="titulo" id="tituloCenario">Cenários</h1>
        </div>
        <button class="botao-sair" ><a class="botao-sair" th:href="@{/login}">Sair</a></button>
    </header>

    <main class="conteudo-principal">
    
        <section class="secao-filtros">
            <div class="filtros-esquerdo">
                <div class="grupo-filtro">
                    <select class="seletor-filtro">
                        <option>Status</option>
                        <option>Ativa</option>
                        <option>Inativa</option>
                    </select>
                </div>
                <div class="grupo-filtro">
                    <select class="seletor-filtro">
                        <option>Curso</option>
                        <option>Engenharia</option>
                        <option>Direito</option>
                        <option>Medicina</option>
                    </select>
                </div>
                <button class="botao-filtrar">FILTRAR</button>
            </div>
            <div class="container-pesquisa">
                <input type="text" class="campo-pesquisa" placeholder="Pesquisar" >
                 <button class="botao-pesquisa">
                <i class="fas fa-search"></i>
            </button>

            </div>
        </section>

        <section class="secao-navegacao">
            <div class="navegacao-esquerda">
                <select class="seletor-navegacao">
                    <option>Mês</option>
                    <option>Janeiro</option>
                    <option>Fevereiro</option>
                    <option>Março</option>
                    <option>Abril</option>
                    <option>Maio</option>
                    <option>Junho</option>
                    <option>Julho</option>
                    <option>Agosto</option>
                    <option>Setembro</option>
                    <option>Outubro</option>
                    <option>Novembro</option>
                    <option>Dezembro</option>
                </select>
                <span class="texto-navegacao">Até</span>
                <select class="seletor-navegacao">
                    <option>Mês</option>
                    <option>Janeiro</option>
                    <option>Fevereiro</option>
                    <option>Março</option>
                    <option>Abril</option>
                    <option>Maio</option>
                    <option>Junho</option>
                    <option>Julho</option>
                    <option>Agosto</option>
                    <option>Setembro</option>
                    <option>Outubro</option>
                    <option>Novembro</option>
                    <option>Dezembro</option>
                </select>
                <select class="seletor-navegacao">
                    <option>Semestre</option>
                    <option>1º Semestre</option>
                    <option>2º Semestre</option>
                </select>
                
                <div class="navegacao-ano">
                    <button id="btn-anterior" class="seta-navegacao"><i class="fa-solid fa-chevron-left"></i></button>
                    <span id="ano-exibido" class="ano">2025</span>
                    <button id="btn-proximo" class="seta-navegacao"><i class="fa-solid fa-chevron-right"></i></i></button>
                </div>
                    
            </div>
            <button class="botao-editar">Habilitar Edição</button>
        </section>

        <section class="secao-tabela">
            <div class="container-tabela">
                <table class="tabela-dados">
                    <thead>
                        <tr>
                            <th>Ano/Semestre <span class="seta-ordenacao">↕</span></th>
                            <th>Unidade <span class="seta-ordenacao">↕</span></th>
                            <th>Situação TCE <span class="seta-ordenacao">↕</span></th>
                            <th>Nome Aluno <span class="seta-ordenacao">↕</span></th>
                            <th>Disciplina / Orientador <span class="seta-ordenacao">↕</span></th>
                            <th>VLR Total <span class="seta-ordenacao">↕</span></th>
                            <th>Status <span class="seta-ordenacao">↕</span></th>
                            <th>Dias da Semana</th>
                        </tr>
                    </thead>
                        <tbody id="tabela-cenarios"></tbody>
                </table>
            </div>
        </section>
        
    </main>

    <script th:src="@{/scripts/main.js}"></script>
    <script th:src="@{/scripts/navegacaoAno.js}"></script>
</body>
</html>
