<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNE - Recuperar Senha</title>
    <link rel="preload" href="/assets/bg_pattern_green.webp" as="image">
    <link rel="preload" href="/assets/Logo_cne.png" as="image">
    <link rel="stylesheet" href="/styles/auth.css">
    <link rel="shortcut icon" href="/assets/favicon_cne.png" type="image/x-icon">
</head>

<body>
    <div class="agrupamento">
        <img src="/assets/Logo_cne.png" alt="Logo Do CNE" class="img-logo">
        <div class="agrupamento-texto">
            <h1 class="welcome">RECUPERAÇÃO</h1>
            <p class="description">Não se preocupe. Ajudamos você a restabelecer seu acesso ao sistema CNE de forma simples e rápida.</p>
        </div>
    </div>

    <div class="login">
        <h2 class="login-title">Recuperar Senha</h2>
        <p class="instructions">Informe sua matrícula para que um administrador possa autorizar a redefinição da sua senha.</p>

        <div class="input-container">
            <input class="input-email" type="text" name="matrícula" placeholder="MATRÍCULA" required>
        </div>
        
        <a href="#" class="btn-entrar">Enviar</a>
        <a href="/login" class="bnt-forgot-password">Voltar para o login</a>
    </div>
</body>
</html>

