<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CNE</title>
        <link rel="stylesheet" href="styles/telacadastro.css">
        <link rel="shortcut icon" href="assets/Logo_cne.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="agrupamento">
        <div class="agrupamento-texto">
            <h1 class="welcome">
                BEM VINDO
            </h1>
            <p class="description">Essa é sua primeira <br>vez aqui?
                <br>Insira sua nova senha
            </p>
        </div>
       

        <img src="/assets/logo_cne.svg" alt="Logo Do CNE" class="img-logo">
    </div>

    <div class="login">
        <h2 class="login-title">Login</h2>

        <p class="instructions">Insira sua nova senha:</p>

        <div class="input-container">
            <input class="input-email" type="password" name="senha" placeholder="NOVA SENHA"  >
        </div>

        <div class="input-container">
        <input class="input-senha" type="password" name="senha" placeholder="DIGITE NOVAMENTE">
        </div>
        <a href="/cenarios" class="btn-entrar">Entrar</a>
    </div>
</body>
</html>
