* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

:root{
    --verde-principal:#1E6443D9;
    --branco--principal:#ffffff;
    --cinza--fundo: #333;
    --bordar--seletores: #ddd;
    --background: #D9D9D9;
    --hover: #A6D5B1;
    --background-header: #C0C0C0;
}

a{
    text-decoration: none;
    color: var(--branco--principal);
}

a::after {
    text-decoration: none;
}

body {
    background-color: var(--branco-principal);
    min-height: 100vh;
}

.cabecalho {
    background-color: var(--verde-principal);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-esquerdo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.botao-menu {
    background: none;
    border: none;
    color: var(--branco--principal);
    font-size: 25px;
    cursor: pointer;
    padding: 2px;
}

.logo {
    font-size: 20px;
}

.botao-voltar {
    background: none;
    border: none;
    color: var(--branco-principal);
    font-size: 25px;
    cursor: pointer;
    padding: 0px 8px 0px 0px;
    transition: color 0.9s;
}

.botao-voltar,a:hover {
    color: black;
}

.principal {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titulo-pagina {
    color: var(--verde-principal);
    font-size: 24px;
    font-weight: 500;
    border-bottom: 2px solid var(--verde-principal);
    padding-bottom: 5px;
}

.acoes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sininho{
    color: var(--branco--principal);
    font-size: 30px;
}

.notificacao {
    position: relative;
    background-color: var(--verde-principal);
    font-size: 20px;
    padding: 4px;
    border-radius: 13px;
    cursor: pointer;
}

.notificacao:hover {
    opacity: 0.9;
}

.ponto-notificacao {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 12px;
    height: 12px;
    background-color: #EB0B0B;
    border-radius: 50%;
}

.botao-cadastrar {
    background-color: var(--verde-principal);
    color: var(--branco--principal);
    border: none;
    padding: 10px;
    gap: 10px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
}

.botao-cadastrar:hover {
    opacity: 0.9;
}

.modal-cadastro {
    background-color: var(--branco-principal);
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.cabecalho-modal h2 {
    margin-bottom: 15px;
    color: var(--verde-principal);
}

.formulario-cadastro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-cadastro input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario-cadastro button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

#botao-salvar {
    background-color: var(--verde-principal);
    color: var(--branco-principal);
}

#botao-fechar {
    background-color: #ccc;
    color: #333;
}

.barra-pesquisa {
    position: relative;
    margin-bottom: 20px;
    width: 350px;
}

.campo-pesquisa {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid var(--verde-principal);
    border-radius: 20px;
    outline: none;
}

.pesquisa-btn{
    font-size: 15px;
}

.botao-pesquisar {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--verde-principal);
    cursor: pointer;
}

.tabela-usuarios {
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background);
}

.tabela th {
    text-align: left;
    padding: 12px 15px;
    font-weight: 500;
}

.tabela th i {
    margin-left: 5px;
    font-size: 12px;
}

.tabela td {
    padding: 12px 15px;
    border-top: 1px solid #ccc;
}

.celula-acoes {
  display: flex; 
  gap: 10px;     
}

th.sortable {
    cursor: pointer;
    user-select: none;
}

th.sortable i {
    margin-left: 8px;
    color: #000000;
    font-size: 15px;
}


.botao-menu2 {
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
}

.btn-edit, .btn-trash{
 font-size: 25px;  
 gap: 10px; 
 
}

.btn-edit:hover {
    color: #1E6443;
}

.btn-trash:hover {
    color: #AC2323;
}

@media (max-width: 768px) {
    .barra-superior {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .acoes {
        width: 100%;
        justify-content: space-between;
    }

    .barra-pesquisa {
        width: 100%;
    }

    .tabela {
        font-size: 14px;
    }

    .tabela th,
    .tabela td {
        padding: 10px 8px;
    }
}

thead {
    background-color: var(--background-header);
    border-bottom: 2px solid #000;
}

