* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --verde-principal: #1e5b3e;
    --color-btn: rgba(30, 100, 67, 0.90);
    --hover-btn: rgba(28, 124, 79, 0.90);
    --texto-branco: #FFFFFF;
    --texto-cinza: #808080;
    font-size: 16px; 
}

body {
    display: flex;
    height: 100vh;
}

.agrupamento {  
    background: var(--verde-principal);
    color: var(--texto-branco);
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.25rem;
}

.agrupamento-texto {
    margin-bottom: -10%;
}

.welcome {

    font-size: 2.8125rem;
    margin-top: 7.25rem;

    width: 576px;
    height: 73px;
    flex-shrink: 0; 
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.description {
    font-size: 1.625rem;
    flex-shrink: 0;
}

.img-logo {
    width: 450px;    
    display: block;
    margin-bottom: -26%;
    margin-top: 90px;
    padding-bottom: -15px;

}

.login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-title {
    color: var(--verde-principal);
    margin-bottom: 0.625rem; 
    font-size: 2.8125rem; 
}

.instructions {
    font-size: 0.875rem; 
    margin-bottom: 1.25rem; 
    color: var(--texto-cinza);
}

.input-container {
    position: relative;
    width: 25rem; 
    margin-bottom: 0.625rem; 
}

.input-icon {
    position: absolute;
    left: 0.625rem; 
    top: 50%;
    transform: translateY(-50%);
    color: var(--verde-principal);
    width: 1.25rem; 
    height: 1.25rem; 
}

.input-email,
.input-senha {
    width: 100%;
    padding: 0.625rem 0.625rem 0.625rem 2.5rem; 
    border: 0.09375rem solid var(--verde-principal); 
    border-radius: 0.25rem; 
    outline: none;
}

.input-email::placeholder,
.input-senha::placeholder {
    color: var(--verde-principal);
}

.btn-entrar {
    background: var(--color-btn);
    color: var(--texto-branco);
    width: 14rem;
    border-radius: 2.313rem; 
    padding: 0.625rem 1.25rem; 
    cursor: pointer;
    font-size: 1.563rem; 
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 0.625rem;
}

.bnt-forgot-password {
    font-size: 0.75rem; 
    color: var(--texto-cinza);
    margin-top: 0.625rem; 
    text-decoration: none;
}

.btn-entrar:hover {
    background: var(--hover-btn); 
}

.bnt-forgot-password:hover {
    color: var(--verde-principal);
    text-decoration: underline;
}

@media (max-width: 48rem) { 
    body {
        flex-direction: column;
    }
    
    .agrupamento {
        width: 100%;
        height: auto;
        padding: 2.5rem 1.25rem; 
    }
    
    .login {
        width: 100%;
        padding: 2.5rem 1.25rem; 
    }
    
    .welcome {
        margin-top: 1.25rem; 
        font-size: 2.25rem; 
    }
    
    .img-logo {
        width: 9.375rem; 
    }
}
